.MenuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 0 24px;
  margin: 0 auto;
}

.MenuCard .heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.MenuCard .heading::after {
  content: "";
  display: block;
  height: 5px;
  width: 100px;
  background-color: brown;
  margin: 5px auto;
}
.MenuCard nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}
.MenuCard nav ul li {
  margin: 0 15px;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 5px;
}

.MenuCard nav ul li:hover {
  background-color: brown;
  color: white;
  border-radius: 10px;
}

.MenuCard .itemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1600px) {
  .MenuCard .itemContainer {
    grid-template-columns: 100%;
  }
}
